
@tailwind base;
@tailwind components;
body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }



@layer components {

  h3{
    @apply mt-4 italic;
  }

  h4{
    @apply mt-2;
  }

  p{
    @apply font-mohave;
  }

  .speech-bubble{
    @apply relative m-auto md:w-52 shadow-md   lg:w-72 xl:w-96 md:mt-[72px] flex-grow md:flex-grow-0 ;
  }

  .speech-bubble:after {
    @apply hidden md:inline;

    content: '';
    position: absolute;
    top: -28px;
    margin-left: -28px;
    border: 28px solid #ffffff00;
    border-bottom-color: #ffffff;
    border-top: 0;
   }
}

@tailwind utilities;

